*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
}

html {
  font-family: sans-serif;
}

body {
  background: url("https://img.freepik.com/free-photo/retro-living-room-interior-design_53876-145503.jpg?w=740&t=st=1658736372~exp=1658736972~hmac=311c3078c75c077f05413965e0086087aa07936d8a53d305cd8db53f76a2d4f4");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: left;
  max-width: 100vw;
  color: #fff;
}

.container {
  max-width: 1500px;
  padding: 1rem;
  margin-inline: auto;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items{
  display: none;
}

.ham {
  filter: invert(1);
}

main{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;
  align-items: start;
}

h1{
  font-size: 1.8rem;
}

.logo{
  font-size: 1.5rem;
}

main > button {
  font-size: .8rem;
  color: #fff;
  background: transparent;
  border: 3px solid #fff;
  padding: 1em 2em;
  text-transform: uppercase;
  border-radius: 5rem;
}

.floater {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 200px;
  font-size: .8rem;
  font-weight: bold;
  padding: 1rem;
}

.puzzle {
  right: 10%;
  top: 140%;
}

.puzzle::after {
  content: "";
  display: block;
  width: 1px;
  height: 50px;
  left: 75%;
  bottom: -50px;
  background: #fff;
  position: absolute;
}

.puzzle::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  bottom: -60px;
  left: 73.5%;
  border-radius: 50%;
  background: #fff;
  position: absolute;
}

.floater > img {
  height: 50px;
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.bulb{
  right: 35%;
  top: 300%;
}

.bulb::after{
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  top: 50px;
  right: -50px;
  background: #fff;
  position: absolute;
}

.bulb::before{
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  right: -60px;
  top: 45px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
}

@media screen and (min-width: 530px) {
  main h1{
    font-size: 3rem;
  }
  main > button{
    font-size: 1rem;
  }

  .floater {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 300px;
    font-size: 1rem;
    font-weight: bold;
    padding: 2rem;
  }
  
  .bulb{
    right: 35%;
    top: 260%;
  }
}

@media screen and (min-width: 820px) {
  main h1{
    width: 50%;
  }
  .puzzle{
    top: 20%;
  }
  .bulb{
    top: 60%;
    right: 25%;
  }
  main{
    height: 70vh;
    justify-content: center;
  }
  .container{
    padding: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .logo{
    margin-right: 5rem;
    font-size: 2rem;
  }
  .ham{
    display: none;
  }
  .nav-items {
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding: 0;
    border-bottom: 2px solid #fff;
    padding-bottom: 40px;
  }
  
  .contact {
    display: flex;
  }
  
  .contact-details {
    margin-left: 10px;
  }
  
}

@media screen and (min-width: 1240px) {
  main h1 {
    font-size: 4rem;
  }
  main button{
    font-size: 1.3rem;
  }
}